.hbi_structur_box {
    width: 250px;
    height: 250px;
    border: 1px solid #999;
    margin: 25px;
    float: left;
    border-radius: 5px;
}

.hbi_structur_box_head {
    height:22px;
    background-color: #aaa;
    font-weight:bold;
    width:245px;
    padding-left:5px;
}

.hbi_structur_box_content_ul_0,.hbi_structur_box_content_ul_1,.hbi_structur_box_content_ul_2,.hbi_structur_box_content_ul_3,.hbi_structur_box_content_ul_4,.hbi_structur_box_content_ul_5,.hbi_structur_box_content_ul_6 {
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em;
}

.hbi_structur_box_content_ul_0 a:link, .hbi_structur_box_content_ul_0 a:active, .hbi_structur_box_content_ul_0 a:visited{
    display:block;
    padding:0px 5px;
    border:1px solid #333;
    color:#fff;
    text-decoration:none;
    background-color:#333;
    width: 238px;
}

.hbi_structur_box_content_ul_0 a:hover{
    background-color:#fff;
    color:#333;
}

.hbi_structur_box_content_ul_0 li{
    float:left;
    position:relative;
}

.hbi_structur_box_content_ul_0 ul {
    position:absolute;
    width:250px;
    top:1.5em;
    list-style-type:none;
    list-style-position:outside;
    display:none;
    padding:0px;
    margin:0px;
}

.hbi_structur_box_content_ul_0 li ul a{
    width:12em;
    float:left;
}

.hbi_structur_box_content_ul_0 li ul {
    left:2em;
    margin:0px 0 0 10px;
    list-style-type:none;
    list-style-position:outside;
    z-index: 99;
}

.hbi_structur_box_content_ul_0 li:hover ul ul, .hbi_structur_box_content_ul_0 li:hover ul ul ul, .hbi_structur_box_content_ul_0 li:hover ul ul ul ul{
    display:none;
}

.hbi_structur_box_content_ul_0 li:hover ul, .hbi_structur_box_content_ul_0 li li:hover ul, .hbi_structur_box_content_ul_0 li li li:hover ul, .hbi_structur_box_content_ul_0 li li li li:hover ul{
    /**display:block;**/
    border: 1px solid green;
}

.hbi_interface p {
    font-size: 1em;
}

.dashboard_report_element {
    width: auto;
    height: auto;
    border:1px solid #999;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.dashboard_report_element_head {
    background-color: #aaa;
    border-bottom: 1px solid #777;
    padding-top: 4px;
    height: 24px;
}
.dashboard_report_element_head_left {
    padding-left: 5px;
    padding-top: 2px;
    float: left;
    width: 150px;
    font-size: 1.2em;
    font-weight: bold;
}
.dashboard_report_element_head_right {
    float: right;
    width:60px;
    padding-right: 5px;
    text-align: right;
}
.dashboard_table {
    border: 1px solid black;
    margin: 5px;
    height: auto;
    width: auto;
    float:left;
}
.dashboard_table_head {
    float:left;
    height: 300px;
    width: auto;
    float:left;
    border-bottom: 1px solid black;
}
.dashboard_table_head_element {
    float: left;
    font-size: 1em;
    font-weight: bold;
    border-right: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}
.dashboard_table_head_element_last {
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}
.dashboard_table_content_td {
    float: left;
    height: 20px;
    padding-left: 5px;
    border-right: 1px solid #999;
}

.dashboard_table_content_td_end {
    float: left;
    padding-left: 5px;
    height: 20px;
}

.dashboard_table_footer * {
    float:left;
}

.dashboard_table_content_row {
    float: left;
    height: 20px;
    border-bottom: 1px solid #999;
}

.dashboard_table_content {
    font-size: 1em;
    padding: 5px;
    float: left;
    width: auto;
}
.dashboard_table_footer {
    font-size: 1em;
    padding: 5px;
    float: left;
    border-top: 1px solid black;
}
.dashboard_table_pagination_number {
    width: 20px;
    text-align: center;
}

.hbi_report_form {
    width: 100%;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    height: 50px;
}
.hbi_report_form_element {
    float: left;
    height: 35px;
    padding-top: 5px;
    padding-left: 20px;
}
.hbi_report_form_element_button {
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid green;
    border-radius: 3px;
}
.hbi_report_form_element_left {
    float: left;
    padding: 5px;
    margin: 5px;
}
.hbi_report_form_element_right {
    float: right;
    padding: 5px;
    margin: 5px;
    border-right: 1px solid #aaa;
}

.hbi_report_view {
    height: auto;
    border-top: 3px solid #eee;
}

.hbi_report_view1 {
    height: auto;
    border-top: 1px solid #aaa;
}

#hbi_map {
    width: 260px;
    height: 260px;
    margin: 15px;
}

.hbi_map_dash {
    width: 200px;
    height: 200px;
}