/* 
    Document   : styles
    Created on : 08.08.2013, 21:33:29
    Author     : alefen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html * {
    font-family: Arial, sans-serif !important;
}

body {
    margin: 0px; 
    padding: 0px;
    font-family: sans-serif;
    color: #555;
}

#hbi_window_close {
    float:right;
}

#head {
    width: 100%; 
    height: 65px; 
    background-color: white; 
    padding: 0px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    border-top: 3px solid #777;
}

#content {
    border-top: 1px solid #777;
    margin: auto 0px;
    min-height: 500px;
}

#head_logo {
    float: left;
    padding-left:10px;
}

#head_content {
    float: right;
    padding-top: 3px;
    padding-left: 10px;
    font-family: "sans-serif";
}

#login_table {
    width:100%;
}

#hbi_tab_list {
    width: 100%;
    height: 26px;
    padding-top: 10px;
    border-bottom: 1px solid #999;
    background-color: #ddd;
}
.hbi_tab, .hbi_tab_closed {
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: white;
    text-align: center;
    margin-left: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    float: left;
    border-bottom: 1px solid white;
    color: #777;
    font-weight: bold;
}

.hbi_tab_closed {
    border-bottom: 1px solid #555;
}

.hbi_interface {
    padding-left: 20px;
    text-align:left;
}

.hbi_interface ul {
    padding-left: 20px;
}
a { 
    font-weight: bold;  
    text-decoration: none;
    color: #555;
}

button {
    text-decoration: none;
    color: #555;
}